@import '../../../assets/styles/variaveis.scss';

:host {
    height: 100vh;
    max-width: 300px;
    min-height: 90vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    background-color: $cor-fundo2;
    box-shadow: 1px 1px 15px #00000030;


    .menus {
        flex: 1;
        flex-direction: column;
        height: 90%;
        width: 100%;
        padding: 0px 40px 0px 40px;
        align-items: center;

        .image-container {
            min-height: $h-spotify-logo;
        }

        .menu-container {
            width: 100%;

            &.flex {
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }

            &.opcoes {
                min-height: $h-menu-opcoes;
                flex-direction: column;
                width: 100%;

                * {
                    margin-bottom: $m-entre-menus;
                }

            }

            .playlist-titulo {
                margin: 10px 0px;
                align-self: flex-start;
                font-weight: 700;
                font-size: .8rem;
                color: $preto-transparent-30;

            }

            .playlist-scroll {
                width: 100%;
                max-height: calc(95vh - $h-desconsiderar);
                overflow-y: auto;
                
                &::-webkit-scrollbar {
                    color: red;
                    
                }
                * {
                    margin-bottom: $m-entre-menus;
                }
            }
        }

        img {
            width: 70%;
        }
    }

    .usuario-info {
        flex-grow: 0;
        display: block;
        bottom: 0;
        align-self: flex-end;
        height: $h-footer-user;
        width: 100%;
    }
}