@import '../../../assets/styles/variaveis.scss';

div {
    flex-direction: row;
    padding: 5px 30px;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    color: $cor-primaria;
    //border-top: 1px solid $preto-transparent-20;
    box-shadow: 1px 1px 15px #00000030;

    img {
        flex-grow: 0;
        width: 40px;
        height: auto;
        border-radius: 50%;
    }

    span {
        flex-grow: 1;
        margin-left: 20px;
        font-size: .8rem;
        font-weight: 700;
    }

    .icone {
        flex-grow: 0;
        cursor: pointer;

        &:Hover {
            color: $preto-transparent-70;
        }
    }
}